@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: top center;
}

main {
    margin-top: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d8d5d5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}